{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">➕ افزودن ویژگی به کشتی</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">ثبت ویژگی</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
